.ql-align-center {
  text-align: center;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-right {
  text-align: right;
}
.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  border-radius: 3px;
  padding: 5px;
  margin: 0 10px;
}
blockquote {
  border-left: 10px solid #ccc;
  margin: 10px;
  padding: 10px;
}
